<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="og:title" content="Disease Predictor">
        <meta name="og:image" content="../static/assets/images/android-chrome-1024x1024.png">

        <link rel="icon" href="../static/assets/images/android-chrome-512x512.png" sizes="512x512" type="image/png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
        <link rel='stylesheet' href='../static/css/all.min.min.css'>

        <title>HealthScope | Neurology</title>
    </head>
    <body>
        <div class="content">
            <header>
                <img src='../static/assets/images/logo.png'>
                <h1 data-index='1' class="animate" data-animation="slide-from-left">Your Health, Our Priority</h1>
                <h2 data-index='2' class="animate" data-animation="slide-from-left">Harnessing the Power of Machine Learning to Predict Diseases with Unmatched Accuracy</h2>
                <p data-index='3' class="animate" data-animation="slide-from-left">
                    Our state-of-the-art ML algorithms analyze vast amounts of data to provide highly accurate and reliable predictions, empowering you to take control of your health.
                </p>
                <p data-index='4' class="animate" data-animation="slide-from-left">
                    With proven accuracy and advanced technology, HealthPredict ensures precise insights, guiding you toward better care and early detection.
                </p>
            </header>
            <div class="image-container animate" data-animation="float-up, center-to-side">
                <img src="../static/assets/images/brain.png">
            </div>
            <h1 class="title animate" data-animation="slide-from-left">Predict Your Health Condition – Complete the Form Below!</h1>
            <section class="form-container" class="animate" data-animation="float-up">
                <div class="image-card animate" data-animation="float-up">
                    <img class='animate' data-animation="drop" src="../static/assets/images/brain-image.png">
                    <div class="parameter animate" data-animation="float-up" data-tilt data-tilt-glare>
                        <span>700<h5>cubic cm</h5></span>
                        <h1>GMV</h1>
                    </div>
                    <div class="parameter animate" data-animation="float-up" data-tilt data-tilt-glare>
                        <span>~225<h5>ms</h5></span>
                        <h1>RT</h1>
                    </div>
                    <div class="parameter animate" data-animation="float-up" data-tilt data-tilt-glare>
                        <span>100<h5>gm/min</h5></span>
                        <h1>CBF</h1>
                    </div>
                    <div class="parameter animate" data-animation="float-up" data-tilt data-tilt-glare>
                        <span>~80<h5>billions</h5></span>
                        <h1>ND</h1>
                    </div>
                </div>
                <div class='prediction-from'>
                    <h1>Parkinsons</h1>
                    <p>
                        Take charge of your health journey with accurate, data-driven predictions you can rely on.
                    </p>
                    <h2>Understand your health better!</h2>
                    <div>
                        <form class="form">
                            <div class='animate' data-animation='drop'>
                                <label>MDVP:Fo(Hz) :</label>
                                <input name='input1' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>MDVP:Fhi(Hz) :</label>
                                <input name='input2' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>MDVP:Flo(Hz) :</label>
                                <input name='input3' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>MDVP:Jitter(%) : </label>
                                <input name='input4' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>MDVP:Jitter(Abs) :</label>
                                <input name='input5' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>MDVP:RAP :</label>
                                <input name='input6' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>MDVP:PPQ :</label>
                                <input name='input7' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>MDVP:Shimmer :</label>
                                <input name='input8' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>MDVP:APQ : </label>
                                <input name='input9' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>NHR :</label>
                                <input name='input10' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>HNR : </label>
                                <input name='input11' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>RPDE :</label>
                                <input name='input12' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>DFA :</label>
                                <input name='input13' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>Spread1 : </label>
                                <input name='input14' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>Spread2 :</label>
                                <input name='input15' required></input>
                            </div>
                            <div class='animate' data-animation='drop'>
                                <label>D2 :</label>
                                <input name='input16' required></input>
                            </div>
                        </form>
                        <button id='predict_result' class="animate" data-animation="drop">Make Prediction Now</button>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <span>
                <span>
                    <img src='../static/assets/images/android-chrome-192x192.png'>
                    <h1>HealthScope</h1>
                </span>
                <p>
                    HealthScope is an innovative web application that leverages cutting-edge technology to accurately predict multiple diseases, offering invaluable insights for proactive healthcare management.                    </p>
            </span>
            <span>
                <h2>Contact Us:</h2>
                <ul class="animate" data-animation="show">
                    <span>
                        <i class='fa-solid fa-envelope'></i>
                        <li>Email:<br>nikunjrathore8623@gmail.com</li>
                    </span>
                    <span>
                        <i class='fa-solid fa-phone'></i>
                        <li>Contact:<br>(+91) 9027568604</li>
                    </span>
                    <span>
                        <i class='fa-solid fa-location-dot'></i>
                        <li>Dehradun, Uttarakhand, India</li>
                    </span>
                </ul>
            </span>
            <span class="socialmedia">
                <h2>Follow Us:</h2>
                <i class='fa-brands fa-twitter'></i>
                <i class='fa-brands fa-facebook'></i>
                <i class='fa-brands fa-instagram'></i>
            </span>
            <hr/>
            <h4>©All rights reserved</h4>
        </footer>
    </body>
    <script defer type="text/javascript" src="../static/js/script.js"></script>
    <script defer type="text/javascript" src="../static/js/pridiction.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer type="text/javascript" src="../static/js/vanilla-tilt.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>